.anim-title {
    color: white;
    background-image: url('./fire.gif');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 1px rgba(255, 0, 0, 0.5);
}